/backend/.env
/backend/debug_data.py
/backend/restart.bat
/backend/start_network.bat
/backend/add_secret_question.py


*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

/frontend/node_modules
/frontend/dist
/frontend/dist-ssr
/frontend/*.local

/frontend/logs
/frontend/*.log
/frontend/npm-debug.log*
/frontend/yarn-debug.log*
/frontend/yarn-error.log*
/frontend/pnpm-debug.log*
/frontend/lerna-debug.log*